<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
    <link rel="stylesheet" href="./static/css/styles.css">
    <title> Storyboard</title>
</head>
<body>
    <!-- Navigation bar -->
    <div class="nav-bar">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/storyboard">Storyboard</a></li>
                <li><a href="/generate_images">Image Generation</a></li>
            </ul>
        </nav>
    </div>
    <main>
        <div id="main-div">
            <!-- Storyboard Section -->
            <div class="storyboard_container">
                <h1 id="storyboardTitle"> Storyboard </h1>
                <div class="storyboard_templates">
                    <h3> Stuck? Use a storyboard template to structure your plot and click to add the five act structure or the Hero's Journey template. </h3>
                    <button id="add-five-act-structure-btn">Add Five Act Structure</button>
                    <button id="add-hero-journey-btn">Add Hero's Journey Template</button>
                </div>
                <p class="storyboard-instructions"> INSTRUCTIONS: Click on the text to edit it. Hit enter or click outside the text box after typing to save changes.</p>
                <p class="storyboard-instructions"> Drag and drop scenes to rearrange the order of the scenes. </p>
                <div id="storyboard" class="storyboard">
                </div>
                <!-- Add new scene with placeholder image, title, and description -->
                <button id="add-scene-btn">Add Scene</button>
            </div>
            <div id="ideas_container">
                <!-- Generate plot ideas based on storyboard content and optional form data -->
                <h1> Generate plot ideas </h1>
                <h3> Note: Form is optional, but it will help generate more relevant ideas! </h3>

                <!--Form data to collect: Genre, Themes, Premise, Setting, Characters-->
                <form method="POST" action="/process_storyboard">
                    <input type="hidden" name="form_action" value="generate_ideas">

                    <label for="genre" id="genre-label" class="label-text"> Genre: </label>
                    <input type="text" id="genre" name="genre"><br><br>

                    <label for="themes" id="themes-label" class="label-text"> Theme(s): </label>
                    <input type="text" id="themes" name="themes"><br><br>

                    <label for="setting" id="setting-label" class="label-text"> Setting: </label>
                    <input type="text" id="setting" name="setting"><br><br>

                    <label for="premise" id="premise-label" class="label-text"> Premise: </label><br><br>
                    <textarea id="premise" name="premise" cols="40"></textarea><br><br>

                    <!--Generate ideas button-->
                    <button type="submit" id="generate-ideas-btn"> Generate Ideas </button>
                </form>

                <!-- Display 2 plot ideas WITH images generated by GPT-4 and Dall E as cards with buttons for user to add ideas to storyboard -->
                <div id="plot_ideas_display">
                    <!-- Plot ideas will be added dynamically here -->
                    <div id="error-message" style="display: none; color: red;"></div>  <!-- Display if user tries to generate ideas with insufficient information -->
                </div>

            </div>
        </div>
    </main>

    <!--  Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/store.js/2.0.12/store.everything.min.js"></script> <!-- Library for data storage -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js"></script> <!-- For compressing data in JS (not sure I ended up using this though) -->
    <script src="./static/js/storyboard.js"></script>
    <script src="./static/js/nav.js"></script>
</body>
</html>